/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
.tetris-block {
    border-width: 12px;
    border-style: outset;
    padding: 20px;
    display: inline-block;   
}
.red {
    background-color: red;
    border-color: crimson;
    border-radius: 20px 10px 40px;
}
.orange {
    background-color: orange;
    border-color: orangered;
    border-radius: 10px 2px 3px 20px;
}
.black {
    background-color: black;
    border-color: black;
}
.yellow {
    background-color: yellow;
    border-color: gold;
    border-radius: 50%;
}
.green {
    background-color: green;
    border-color: greenyellow;
    border-radius: 0px 40px;
}
.blue {
    background-color: blue;
    border-color: rgb(7, 7, 76);
    border-radius: 35px 10px 50px 100px;
    transform: rotate(-45deg);
}
.purple {
    background-color: blueviolet;
    border-color: purple;
    border-radius: 30%;
}