* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
/*NAV BAR*/
#navbar {
    background: linear-gradient(to bottom, #d89518, #bec315);
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
    font-family: "Roboto", serif;
    font-weight: bold;
}
#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
    font-family: "Chewy", serif;
}
#navbar #logo:hover {
   background: linear-gradient(to bottom, #d89518, #bec315);
   color: white;
}
.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
    background-color: rgb(197, 194, 14);
    border-radius: 24px;
    box-shadow: inset 0px 0px 16px 4px rgb(183, 205, 24);

}
.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    border-radius: 58px;
    top: 130%;

}

.dropdown-menu a {
    background-color: rgb(220, 217, 17);
    width: 100%;
    min-width: 200px;
    border-bottom: 2px solid #bec315;
    border-radius: 25px;
    box-shadow: inset 0px 0px 4px 4px rgb(228, 255, 25);
    text-align: center;
}

#navbar a:hover{
   color: rgb(222, 46, 19);
}


#navbar .dropdown-menu a:hover {
    background: rgb(222, 46, 19);
    color: white;
    border-radius: 24px;
    
}
#logo img{
    width: 100px;
}

/*HERO IMAGE*/

#hero-parallax {
    background-image: url("../images/hero.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-end;
}

.hero-content {
    position: absolute;
    top: 20%;
    right: 10%;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.hero-content h2{
    font-size: 78px;
    font-family: "Chewy", serif;
}

.hero-content h4{
    font-size: 35px;
    font-family: "Chewy", serif;
}

/*bluely chocobo page */

#single-column-layout {
    width: 800px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 24px;
    margin-top: 48px;
    border-radius: 24px;
}

.center h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 45px;
    font-family: "Chewy", serif;
}

.center img{
    width: 100%;
    border-radius: 24px;
}

.center p {
    line-height: 26px;
    font-size: 18px;
    font-family: "Roboto", serif;
}

.center p span {
    font-weight: bold;
    font-family: "Roboto", serif;
}

#backgroundgif{
    background-image:url("../images/ddzc9fr-eacd210b-92e0-4723-860e-dbdedf382e64.gif");
    height: 100vh;

}

/*Index page */
.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
}

.image-container{
    flex: 1;
}

.image-container img{
    width: 100%;
    border-radius: 24px;
}

.text-container {
    flex: 1;
    padding: 36px;
}

.text-container h3{
    font-size: 35px;
}

.text-container p{
    margin-bottom: 25px;
    font-family: "Roboto", serif;
    font-size: 18px;
    line-height: 28px;
}

.text-container a {
    background-color: #bec315;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 20px;
    font-size: 18px;
    border-radius: 24px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Roboto", serif;
    display: inline-block;
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

.text-container a:hover {
    background: rgb(222, 46, 19);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#two-columns{
    min-width: 800px;
    max-width: 1200px;
    margin: 0 auto;
}

/* footer */
#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    background: linear-gradient(to bottom, #d89518, #bec315);
    height:125px;
    display: flex;
    align-items: center;
    
}
#footer-navbar a{
    color:white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

#footer-navbar a:hover {
    color: rgb(222, 46, 19);
}
#footer-navbar span {
    color:white;
    text-shadow: 1px 1px 1px black;
}

.donate-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img1 button1" 
                        ". ."
                        "button2 img2";
    gap: 100px;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.donate-grid a{
    background-color: #bec315;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 20px;
    font-size: 18px;
    border-radius: 24px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Roboto", serif;
    display: inline-block;
    transition: 
    background-color 0.5s,
    box-shadow 0.5s,
    transform 0.5s;
}

.donate-grid a:hover {
    background-color: rgb(222, 46, 19);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#img1{
    grid-area: img1;
}
#img2 {
    grid-area: img2;
}

#button1{
    grid-area: button1;
}

#button2{
    grid-area: button2;
}


@media screen and (max-width: 800px) {
    .side-by-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-container{
       text-align: center;
       width: 80%;

    }
    #single-column-layout{
        text-align: center;
        width: 80%;
    }

    #two-columns{
        min-width: 200px;
        max-width: 800px;
        margin: 0 auto;
    }
    #footer-navbar{
        flex-direction: row;
        margin:20px;
    }
    #footer-navbar a{
        font-size: 16px;
      
    }
    footer{
        height:200px;
     
        
    }
    .donate-grid{
        width: 600px;
    }
    }

  
    @media screen and (max-width: 700px) {
        .dropdown-container i{
            position: absolute;
            left: 80%;
        }

        #navbar img{
        width: 100px;

        }
        #logo {
            text-align: center;
        }

        .donate-grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "img1" 
                                "button1" 
                                "img2" 
                                "button2";
            gap: 12px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 80%;
        }

        .donate-grid a{
            margin-bottom: 24px;
        }
    }


@media screen and (max-width: 585px) {
.hero-content {
    top: 25%;
    left: 10%;
}
}
    @media screen and (max-width: 465px) {
        footer{
            height:250px;
        }

        #footer-navbar{
            flex-direction: column;
        }

        #footer-navbar a{
            padding:10px;
        }

        #footer-navbar span {
            padding-top:10px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        #navbar {
            flex-direction:column;
        }

        #navbar #logo a{
            align-items: center;
            justify-content: center;
            padding-left: 36px;
        }

        .hero-content {
            top: 20%;
            left: 20%;

        }

        .hero-content h2{
            font-size: 45px;
        }

        .hero-content h4{
            font-size: 25px;
        }

        #logo {
            text-align: center;
        }

        #single-column-layout h2{
            font-size: 30px;
        }

        .donate-grid {
            width: 100%;
        }

        .text-container h3{
            font-size: 25px;
        }

        .dropdown-container:hover .dropdown-menu {
           top: 0%;
           left: -45%;
    }
}