* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar2 {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    justify-content: flex-end;
}

#navbar2 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar3 {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    justify-content: center;
}

#navbar3 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar4 {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    justify-content: space-between;
}

#navbar4 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}