* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar2 {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    justify-content: flex-end;
}

#navbar2 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar3 {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    justify-content: center;
}

#navbar3 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar4 {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    justify-content: space-between;
}

#navbar4 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar5 {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    align-items: center;
}

#navbar5 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar5 #logo {
    margin-right: auto;
}

#navbar5 #logo img {
    width: 150px;
}

#navbar6 {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    align-items: center;
}

#navbar6 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar6 #logo {
    margin-right: auto;
}

#navbar6 #logo img {
    width: 150px;
}

#navbar6 .cta-buttom {
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
#navbar7 {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar7 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar7 #logo img {
    width: 150px;
}

#navbar7 .cta-buttom {
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

.content-column {
    width: 800px;
    margin: 0px auto;
}

#navbar-top {
    background: linear-gradient(to bottom, green, #3e6d3e);
}

#navbar-top .content-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

#navbar-top a {
    text-decoration: none;
    color: white;
    padding: 24px 0px;
}

#navbar-top .content-column div a {
    padding: 24px;
}

#navbar-top #logo img {
    width: 150px;
}

#navbar-top .cta-buttom {
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
}

#navbar-bottom {
    background: linear-gradient(to bottom, yellowgreen, olive);
}

#navbar-bottom .content-column {
    display: flex;
    justify-content: space-between;
}

#navbar-bottom a {
    text-decoration: none;
    color: white;
    padding: 12px 0px;
}

#navbar8 {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar8 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar8 #logo img {
    width: 150px;
}

#navbar8.cta-buttom {
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#layout {
    width: 600px;
    margin: 48px auto;
    font-size: 24px;
    height: 150vh;
}