* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Gill Sans', sans-serif;
    background-color: black;
    color: #e2dcdc;
    
}
#twocolumns {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#twocolumns img {
    text-align: right;
}

#side-bar-left h2 {
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
}

#side-bar-right {
    width: 35%;
    padding-left: 20px;
  
}

#side-bar-right h3 {
    color: #e2dcdc;
    font-family: 'Gill Sans', sans-serif;
}

hr {
    width: 500px;
    padding-top: 5px;
    background-color: rgb(202, 16, 16);
    margin-top: 25px;
}

#showcase {
    text-align: center;
}