* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#main-section {
    background-color: goldenrod;
    padding: 24px;
}

.single-column{
    display: flex;
}

.image-container {
    flex: 1;
    text-align: right;
}

.text-container {
    flex: 1;
    padding: 20px;
    justify-content: center;
    align-content: center;
}

.image-container img{
    width: 70%;
}

.text-container h3{
    font-size: 25px;
    width: 400px;
    padding-bottom: 25px;
}

.text-container a{
    font-size:18px;
    background-color:gold;
    padding:18px;
    border-radius: 20px;
    color: rgb(24, 24, 23);
    text-decoration: none;
    font-weight: bold;
}

.text-container a:hover{
    color:rgb(190, 14, 32);
    text-decoration: underline;

}