* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#main-section {
    background-color: goldenrod;
    padding: 24px;
}

.left-side{
    display: flex;
}

.image-container {
    flex: 1;
}

.text-container {
    flex: 1;
    padding: 20px;
}

.image-container img{
    width: 30%;
}

.text-container h3{
    font-size: 25px;
}

.text-container a{
    font-size:20px;
    background-color:gold;
    padding:20px;
    border-radius: 20px;
    color: rgb(225, 25, 25);
    text-decoration: none;
    font-weight: bold;
}

.text-container a:hover{
    color:black;
    text-decoration: underline;

}