/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#license {
    width: 700px;
    border: 10px solid white;
    border-radius: 20px;
    padding: 24px;
    background: linear-gradient(90deg, crimson, rgb(255, 149, 0) 50%);
    height: 430px;
}
#content h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-top: 0;
}
#left-side {
    display: inline-block;
    width: 65%;
}
#left-side h4 {
    background-color: blue;
    width: 100%;
    height: 30px;
    color: white;
    text-align: center;
    padding-top: 5px;
    margin-top: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
#right-side {
    display: inline-block;
    width: 34%;
}
#id-and-expiration {
    text-align: center;
    padding-bottom: 20px;
}
#id-and-expiration div {
    display: inline-block;
    padding-right: 20px;    
}
#id-and-expiration span {
    color: blue;
}
#address {
    padding-bottom: 20px;
    line-height: 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#small-pic-container,
#data-fields {
    display: inline-block;
}
#small-pic-container img {
    width: 75px;
    opacity: 0.5;
    
}
#data-left,
#data-right {
    display: inline-block;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#data-left span,
#data-right span {
    color: blue;
}
#signature {
    text-align: center;
    padding-top: 10px;
    font-family: cursive;
    font-size: 18px;
}
#right-side img {
    width: 100%;
}
#donor,
#real-id {
    display: inline-block;
    font-weight: bold;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.fa-solid {
    color: blue;   
}
.fa-star {
    padding-left: 30px;
}