
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

#hero{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    background-color:orange;
    color:black;
    flex-direction: column;
}
.creepster-regular, 
h2 {
    font-family: "Creepster", serif;
    font-weight: 400;
    font-style: normal;
    font-size:50px;
  }
