/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/

#container-one {
    background-color: black;
    color: white;
    border: 6px ridge brown; 
    height: 112px;
}

#container-one img {
    width: 75px;
}
#container-two {
    width: 50px;
    background-color: black;
    color: white;
    padding: 20px 20px 20px 20px;
    border: 6px ridge brown;
    text-align: center;   
}
#container-two p {
    font-size: 7px;
    font-family: Arial, Helvetica, sans-serif; 
}
#container-two h2 {
    font-size: 8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
#container-two img {
    width: 40px;
}
#container-three {
    border: 6px ridge brown;
    width: 150px;
    background-color: black;
    height: 85px; 
    
}
#container-three img {
    width: 150px;
}
#container-one,
#container-two,
#container-three {
    margin: 0px 20px 20px 20px;
    box-shadow: -6px -4px 4px rgba(68, 67, 67, 0.395);
    padding:10px;
}
.display-space {
    align-content: center;
}

