* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background: 
        radial-gradient(at bottom left, rgb(11, 11, 11), rgb(65, 29, 29));
    
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main";
}

#header {
    grid-area: header;
    padding: 0px 36px;
    display: flex;
    flex-direction: row;
}

#sidebar {
    grid-area: sidebar;
    padding: 0px 24px;
}

#main {
    grid-area: main;
    display: flex; 
    flex-wrap: wrap; 
}

#header a {
    text-decoration: none;
}

#header #me {
    color: white;
}

#header #tube {
    color: white;
    background-color: red;
    padding: 6px;
    border-radius: 12px;
}

#sidebar ul {
    padding: 12px 0px;
    margin: 0px;
    list-style-type: none;
    border-bottom: 1px solid #AAAAAA;
}
#sidebar ul a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 12px;
}

#sidebar ul a:hover {
    background-color: #505050;
    border-radius: 12px;
}

.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}

.thumbnail-placeholder {
    text-align: center;
}

.thumbnail-placeholder img {
    width: 300px;
    border-radius: 8px;
    height: 225px;
    box-shadow: 0px 0px 16px 4px rgb(147, 12, 12); 

}

.thumbnail-placeholder img:hover {
    color: #111111;
    opacity: .5;
}

.metube-item h4 {
    text-align: center;
    margin: 10px 2px;  
}

.metube-item h4 a {
    text-decoration: none;
    color: white;
    display: block;
}

.metube-item h4 a:hover {
    text-decoration: underline;
}

.metube-item .video-details {
    margin: 8px;
    font-size: 14px;
    color: white;
    
}

.metube-item .video-channel {
    margin-bottom: 4px;
    
}
.video-details img {
    width: 55px;
    border-radius: 50px;
}
.video-details {
    text-align: center;
}

.video-channel {
    padding-top: 5px;
    font-size: 15px;
    font-weight: bold;
}

.views-and-post {
    padding-top: 5px;
}

#search-bar {
    margin: 0 auto;
    align-content: center;
    padding-bottom: 20px;
}

#search-bar input[type=text] {
    background-color: #151414;
    height: 35px;
    padding-left: 10px;
    border-radius: 50px;
    color: white;
    width: 550px;
    font-size: 18px;
   
}

#login {
    display: flex; 
    color: white;
}
#login h3 {
    margin: 10px 10px;
    padding-top: 20px;
    font-size: 14px;
}

.fa-solid {
    color: white;
    font-size: 20px;
    margin: 8px 8px;
    padding-top: 20px;
}